@model List<ResultOfferDiscountDto>
<div class="container-fluid pt-5 pb-3">
    <h2 class="section-title position-relative text-uppercase mx-xl-5 mb-4"><span class="bg-secondary pr-3">İNDİRİM TEKLİFLERİ</span></h2>
    <div class="row px-xl-5">
        @foreach (var item in Model)
        {
            <div class="col-md-6">
                <div class="product-offer mb-30" style="height: 300px;">
                    <img class="img-fluid" src="@item.ImageUrl" alt="">
                    <div class="offer-text">
                        <h6 class="text-white text-uppercase">@item.SubTitle</h6>
                        <h3 class="text-white mb-3">@item.Title</h3>
                        <a href="/ProductList/ProductDetail/@item.ProductID" class="btn btn-primary">@item.ButtonTitle</a>
                    </div>
                </div>
            </div>
        }
    </div>
</div>