
@{
    Layout = null;
}


<div class="container">
    <br /> <br />
    <h3 class="alert alert-success"> Dolar Alış: @ViewBag.exchangeRateUsd - Dolar Satış @ViewBag.previousCloseUsd</h3>
    <h3 class="alert alert-danger"> Euro Alış: @ViewBag.exchangeRateEuro - Euro Satış @ViewBag.previousCloseEuro</h3>
</div>