
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/UILayout/_UILayout.cshtml";
}

    <!-- Cart Start -->
    <div class="container-fluid">
        <div class="row px-xl-5">

        @await Component.InvokeAsync("_ShopppingCartProductListComponentPartial")

        @await Html.PartialAsync("~/Views/Discount/ConfirmDiscountCoupon.cshtml")

        @* @await Component.InvokeAsync("_ShopppingCartDiscountComponentPartial") *@

        </div>
    </div>
    <!-- Cart End -->


